<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.cruck.h2g">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".util.ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".operations.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signin.ServiceUserSignIn" />
        <activity android:name=".signup.ServiceUserSignUp" />
        <activity android:name=".signup.ServiceUserPostSignUp" />
        <activity android:name=".serviceuser.ServiceUserLanding" />
        <activity android:name=".signin.ServiceProviderSignIn" />
        <activity android:name=".signup.ServiceProviderSignUp" />
        <activity android:name=".signup.ServiceProviderPostSignUp" />
        <activity android:name=".serviceprovider.ServiceProviderLanding" />
        <activity android:name=".operations.Rating"></activity>
    </application>

</manifest>